* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.overlay {
    position: absolute;
    inset: 0;
    background: radial-gradient(circle at center, rgba(0,0,0,0.05), rgba(0,0,0,0.25));
    z-index: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    position: relative;
    overflow: hidden;
}
.bg-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 140px;
    font-weight: 900;
    line-height: 2.0; 
    letter-spacing: 12px;
    text-align: center;

    color: rgba(255, 255, 255, 0.281);

    z-index: 0;
    pointer-events: none;
    user-select: none;
}
.card {
    width: 380px;
    padding: 25px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0,0,0,0.2);
    color: #fff;
    text-align: center;
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.search {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search input {
    flex: 1;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 12px;
    font-size: 16px;
}

.search button {
    margin-left: 10px;
    border: none;
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
    background: #fff;
    transition: 0.3s;
}

.search button:hover {
    background: #f0f0f0;
}

.search button img {
    width: 18px;
}

.weather-icon {
    width: 100px;
    margin-top: 10px;
}

.temp {
    font-size: 48px;
    font-weight: bold;
    margin-top: 10px;
}

.city {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    opacity: 0.9;
}

.details {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 30px;
    margin-right: 10px;
}

.humidity, .wind {
    font-size: 18px;
    font-weight: bold;
}

.error {
    display: none;
    color: #ffdddd;
    background: rgba(255,0,0,0.2);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.weather {
    display: none;
}